@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    font-weight: 100;
    src: url(./assets/fonts/Inter-Thin.ttf);
}

@font-face {
    font-family: "Inter";
    font-weight: 200;
    src: url(./assets/fonts/Inter-ExtraLight.ttf);
}

@font-face {
    font-family: "Inter";
    font-weight: 300;
    src: url(./assets/fonts/Inter-Light.ttf);
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url(./assets/fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: "Inter";
    font-weight: 500;
    src: url(./assets/fonts/Inter-Medium.ttf);
}

@font-face {
    font-family: "Inter";
    font-weight: 600;
    src: url(./assets/fonts/Inter-SemiBold.ttf);
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    src: url(./assets/fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: "Inter";
    font-weight: 800;
    src: url(./assets/fonts/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: "Inter";
    font-weight: 900;
    src: url(./assets/fonts/Inter-Black.ttf);
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;

        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        font-synthesis-weight: none;
        text-rendering: optimizeLegibility;
    }
    :root {
        --csgo-default: 0, 0%, 100%;
        --csgo-red: 0, 99%, 62%;
        --csgo-lightred: 0, 79%, 61%;
        --csgo-darkred: 0, 100%, 50%;
        --csgo-bluegrey: 212, 34%, 77%;
        --csgo-blue: 212, 61%, 61%;
        --csgo-darkblue: 230, 99%, 65%;
        --csgo-purple: 271, 78%, 72%;
        --csgo-orchid: 294, 78%, 54%;
        --csgo-yellow: 55, 75%, 70%;
        --csgo-gold: 41, 75%, 56%;
        --csgo-lightgreen: 95, 98%, 78%;
        --csgo-green: 120, 99%, 62%;
        --csgo-lime: 90, 99%, 64%;
        --csgo-grey: 213, 10%, 79%;
        --csgo-grey2: 212, 34%, 77%;

        --discord-green: 168, 76%, 42%;
        --discord-yellow: 56, 83%, 62%;
        --discord-blue: 217, 100%, 64%;
        --discord-coral: 0, 65%, 64%;
        --discord-purple: 253, 76%, 73%;
    }
    html {
        font-family: "Inter", sans-serif;
    }
}
